<hr>
<hr>
<h2>Chop Hair Salon</h2>
<hr>


<h3><a href="/clients"></a>Clients</h3>
<h3><a href="/clients_new"></a>Add New Clients</h3>
<h3><a href="/clients_view"></a>View a Client</h3>
<h3><a href="/clients_update"></a>Update a Client</h3>
<hr>
<h3><a href="/stylists"></a>Stylists</h3>
<h3><a href="/stylists_new"></a>Add New Stylists</h3>
<h3><a href="/stylists_view"></a>View a Stylist</h3>
<h3><a href="/stylists_update"></a>Update a Stylist</h3>
