<hr>
<hr>
<h2>Chop Hair Salon</h2>
<hr>


<h3><a href="/clients">Clients</a></h3>
<h3><a href="/clients_new">Add New Clients</a></h3>
<h3><a href="/clients_view">View a Client</a></h3>
<h3><a href="/clients_update">Update a Client</a></h3>
<hr>
<h3><a href="/stylists">Stylists</a></h3>
<h3><a href="/stylists_new">Add New Stylists</a></h3>
<h3><a href="/stylists_view">View a Stylist</a></h3>
<h3><a href="/stylists_update">Update a Stylist</a></h3>
